{{ template "header" }}

<h1>Current Container List</h1>

<p><a href="/launcher" class="btn btn-primary">Launch New Container</a></p>

{{ if .error  }}
<p>Error occurred while retreiving information. Detail: {{ .error }} </p>
{{ else }}

<form id="termination" method="POST" action="/terminate">
<input type="hidden" name="subdomain" value="" id="subdomain">
<table class="table table-striped">
<thead>
  <tr>
    <th class="col-md-2">subdomain</th>
    <th class="col-md-2">branch</th>
    <th class="col-md-2">docker image</th>
    <th class="col-md-2">container ID</th>
    <th class="col-md-2">launch_at</th>
    <th class="col-md-2 text-center">action</th>
  </tr>
</thead>
<tbody>
{{ range $row := .info }}
  <tr>
    <td class="col-md-2">{{ $row.SubDomain }}</td>
    <td class="col-md-2">{{ $row.GitBranch }}</td>
    <td class="col-md-2">{{ $row.Image }}</td>
    <td class="col-md-2">{{ $row.ShortID }}</td>
    <td class="col-md-2">{{ $row.Created.Format "Jan 02, 2006 15:04:05" }}</td>
    <td class="col-md-2 text-center"><a href="#" class="btn btn-danger" role="button" onclick="terminate(&quot;{{ $row.SubDomain }}&quot;)" id="terminate-{{ $row.SubDomain }}">Terminate</a></td>
  </tr>
{{ end }}
</tbody>
</table>
{{ end }}

{{ template "footer" }}
