<!DOCTYPE html>
<html>
<head>
<title>Mirage Dashboard</title>
<style>
body {
  padding-top: 60px;
}
</style>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

<style type="text/css">
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
</style>
</head>
<body>

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Mirage</a>
    </div>
  </div>
</div>


<div class="container">
<div class="row">
<h1>Current Container List</h1>

<p><a href="/launcher" class="btn btn-primary">Launch New Container</a></p>

{{ if .error  }}
<p>Error occurred while retreiving information. Detail: {{ .error }} </p>
{{ else }}

<form id="termination" method="POST" action="/terminate">
<input type="hidden" name="subdomain" value="" id="subdomain">
<table class="table table-striped">
<thead>
  <tr>
    <th class="col-md-2">subdomain</td>
    <th class="col-md-3">branch</td>
    <th class="col-md-3">docker image</td>
    <th class="col-md-2">container ID</td>
    <th class="col-md-2 text-center">action</td>
  </tr>
</thead>
<tbody>
{{ range $row := .info }}
  <tr>
    <td class="col-md-2">{{ $row.SubDomain }}</td>
    <td class="col-md-3">{{ $row.GitBranch }}</td>
    <td class="col-md-3">{{ $row.Image }}</td>
    <td class="col-md-2">{{ $row.ShortID }}</td>
    <td class="col-md-2 text-center"><a href="#" class="btn btn-danger" role="button" onclick="terminate(&quot;{{ $row.SubDomain }}&quot;)" id="terminate-{{ $row.SubDomain }}">Terminate</a></td>
  </tr>
{{ end }}
</tbody>
</table>
{{ end }}

</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script type="text/javascript">
function terminate(subdomain) {
    $("#subdomain").attr("value", subdomain);
    $("#terminate-" + subdomain).html('<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Terminating...')
    $("#termination").submit();
}
</script>
</body>
</html>
